/* ----- Top-Down order ----- */
/*Alphabetize your Properties*/
/* ----- GLOBAL ----- */
/* ----- HTML ----- */
html {
  scroll-behavior: smooth;
}
/* ----- Body ----- */
/* ----- Text, Titles ----- */
@font-face {
  font-family: "moon";
  src: url(Moon2.0-Bold.otf);
}

h1,
h2,
h5,
.navbar-brand {
  font-family: "moon";
}

.carousel-item h4 {
  font-style: italic;
}

.scroll_page h5,
.scroll_page p,
.card-body p {
  text-align: justify;
  text-indent: 20px;
}

/* ----- HEADER ----- */
/* ----- NAV-MENU ----- */
.navbar {
  background-color: black;
}

/* ----- MAIN-CONTENT ----- */
#welcome {
  background-color: #fdd835;
  padding-bottom: 10px;
}

.logo {
  padding-top: 10px;
}

.carousel {
  padding-top: 15px;
}

#about {
  background-color: #ffff6b;
  padding: 10px 15px 40px 15px;
}

#navbar_nav {
  padding-left: 10px;
}

#sec1,
#sec3,
#sec5 {
  background-color: white;
  padding: 10px 15px 10px 15px;
}

#sec2,
#sec4,
#sec6 {
  background-color: whitesmoke;
  padding: 10px 15px 10px 15px;
}

.scroll_container,
.card {
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.scroll_container ul {
  list-style-type: none;
  padding-left: 0;
}

.scroll_container li {
  display: inline;
  padding-right: 10px;
}

.scroll_page {
  position: relative;
  overflow-y: scroll;
  height: 400px;
}

#wireframes {
  background-color: #fdd835;
  margin: 0;
  padding: 10px 15px 40px 15px;
}

.card {
  background-color: white;
  margin: 0;
  padding: 10px 15px 10px 15px;
}

.card-body {
  padding: 5px;
}

/* ----- FOOTER ----- */
.footer {
  background-color: black;
  color: whitesmoke;
  padding: 20px 15px 10px 15px;
  height: auto;
  width: auto;
}

.footer hr {
  border-top: 1px solid #737373;
  border-bottom: 1px solid black;
}

.copyright-text {
  color: #737373;
}

.interest_list li {
  display: block;
}

/* ----- FORM ----- */
/* ----- EXTRAS/GENERAL ----- */

/* ----- MEDIA QUERIES & BREAK POINTS ----- */
/* Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first" - 1rem = 16px*/
h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.15rem;
}

h4,
.navbar-brand {
  font-size: 1.05rem;
}

h5,
.subtitle {
  font-size: 1rem;
}

.blockquote-footer {
  font-size: 1rem;
}

p {
  font-size: 0.85rem;
}

.footer p,
.footer li {
  font-size: 0.75rem;
}

/* Images */
.logo {
  width: 80%;
  height: auto;
  margin: 0;
}

.social_media_icon {
  width: 18px;
  height: auto;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h4,
  .navbar-brand {
    font-size: 1.15rem;
  }

  h5,
  .subtitle {
    font-size: 1.05rem;
  }

  .blockquote-footer {
    font-size: 1rem;
  }

  p {
    font-size: 0.85rem;
  }

  .footer p,
  .footer li {
    font-size: 0.75rem;
  }

  /* Images */
  .logo {
    width: 40%;
    height: auto;
    margin: 0;
  }

  social_media_icon {
    width: 18px;
    height: auto;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h4,
  .navbar-brand {
    font-size: 1.25rem;
  }

  h5,
  .subtitle {
    font-size: 1.15rem;
  }

  .blockquote-footer {
    font-size: 1.05rem;
  }

  p {
    font-size: 0.95rem;
  }

  .footer p,
  .footer li {
    font-size: 0.8rem;
  }

  /* Images */
  .logo {
    width: 40%;
    height: auto;
    margin: 0;
  }

  .social_media_icon {
    width: 18px;
    height: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h4,
  .navbar-brand {
    font-size: 1.5rem;
  }

  h5,
  .subtitle {
    font-size: 1.25rem;
  }

  .blockquote-footer {
    font-size: 1.15rem;
  }

  p {
    font-size: 1rem;
  }

  .footer p,
  .footer li {
    font-size: 0.85rem;
  }

  /* Images */
  .logo {
    width: 45%;
    height: auto;
    margin: 0;
  }

  .social_media_icon {
    width: 24px;
    height: auto;
  }
}
