/* column sizes: xs sm md lg xl */
/* container - row - columns */
/* col-numberColumns : col-md-6 */
/* #fdd835 #ffff6b #c6a700 */
html {
    scroll-behavior: smooth;
}

.navbar-brand {
    font-family: 'moon';
}

.navbar {
    background-color: black;
}

#welcome {
    background-color: #fdd835;
    padding-bottom: 40px;
}

.carousel {
    padding-top: 50px;
}

.scroll_page {
    position: relative;
    overflow-y: scroll;
    height: 400px;
}

.bg-light {
    background-color: brown;
}

#sec1,
#sec3 {
    background-color: white;
    padding: 10px 15px 10px 15px;
}

#sec2,
#sec4 {
    background-color: whitesmoke;
    padding: 10px 15px 10px 15px;
}

.card {
    background-color: white;
    width: auto;
    height: 530px;
    margin: 0;
    padding: 10px 15px 10px 15px;
}

#about {
    background-color: #ffff6b;
    padding: 20px 15px 10px 15px;
    margin: 0;
}

#wireframes {
    background-color: #fdd835;
    width: auto;
    height: 550px;
    margin: 0;
    padding: 20px 15px 10px 15px;

}

.profile {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.icon {
    width: 4%;
    height: auto;
}

footer {
    color: white;
    background-color: black;
    width: auto;
    height: auto;
    padding: 10px 15px 10px 15px;

}

footer p {
    font-size: 14px;
    line-height: 08px;
}

ul {
    list-style-type: none;
    padding-left: 0;

}

li {
    display: inline;
    padding-right: 10px;
}

.bottom {
    font-size: 12px;
}

hr {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid black;
}

.logo {
    width: 45%;
    height: auto;
    margin: 0;
}

.card_wireframe {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: 'moon';
    src: url(Moon2.0-Bold.otf);
}


h1,
h2 {
    font-family: 'moon';
}

.carousel-item h4 {
    font-style: italic;
}